.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: 1px 2.5px rgb(213, 217, 217);
  cursor: default;
}

.Item {
  box-shadow: rgba(32, 29, 29, .625) 0px 2px 5px 0px;
}
